<h1>New review</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>

  <%= f.fields_for :reviews, Review.new do |review_form| %>
    <%= review_form.input :content %>
    <%= review_form.input :rating %>
  <% end %>

  <%= f.submit "Create Restaurant" %>
<% end %>
