<p style="color: green"><%= notice %></p>

<h1><%= @restaurant.name %></h1>

<p>Category: <%= @restaurant.category %></p>

<p>Address: <%= @restaurant.address %></p>

<div id="reviews">
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <div class="review">
      <p>Rating: <%= review.rating %></p>
      <p>Review: <%= review.content %></p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
